.bkgd1 {
    background-color: purple;
    color: white;
    width: 85%;
    margin: auto;
    padding: 1em;
}

.bkgd1 button {
    background-color: mediumpurple;
    border-radius: 8px;
}

.bkgd2 {
    background-color: seagreen;
    color: white;
    width: 85%;
    margin: auto;
    padding: 1em;
}

.bkgd2 button {
    background-color: mediumseagreen;
    border-radius: 8px;
}
