.feed {
    background-color: lightslategray;
    width: auto;
    height: auto;
}

.feed button {
    background-color: rgba(105, 0, 109, 0.7);
    margin: 10px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    font-size: 1.2em;
    display: block;
}

.feed img {
    width: 800px;
}