.userDiv {
    text-align: left;
    width: 250px;
    height: auto;
    padding: 1.5em;
    background-color: rgba(105, 0, 109, 0.7);
    color: white;
}

.userDiv p {
    font-size: 16px;
}

.userDiv h3 {
    font-size: 20px;
}